@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&display=swap');


*{
    margin: 0;
    padding:0;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    padding: 15px;
}
.navbar a{
    font-family:'Poppins', sans-serif;
    text-decoration: none;
    color: white;
}
.logo{
    font-family:'Poppins', sans-serif;
    margin-right: 50px;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
}
#toggler,
.navbar label{
    display: none;
}
@media screen and (max-width: 600px) {
    .menu{
       width: 100%;
       max-height: 0;
       overflow: hidden;
      
    } 

.list{
    flex-direction: column;
    align-items: center;
    padding: 20px;
  
}
.navbar label{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
#toggler:checked ~ .menu{
    max-height: 100%;
   
    }
}
.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    color: white;
  }
  .nav-dropdown {
    position: static;
  }